html{background-color:paleturquoise;}

h1{color: blueviolet; background-color: paleturquoise;}

p{color:blueviolet; background-color: bisque;}

#dodaj{color:rgb(187, 114, 114); background-color:pink;}

#usun{color:fuchsia;background-color: beige;}



